server {
    listen ${PORT};

    location / {
        root   /usr/share/nginx/html;
        index  index.html;
        try_files $uri $uri/ /index.html;
    }

    # Proxy /api requests to the Backend
    location /api/ {
        proxy_pass ${BACKEND_URL}/;
        proxy_set_header Host $host;
    }
}